@page "/login"
@using LabModels
@using LabMobile.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" class="form-control" @bind-Value="user.Email" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" class="form-control" @bind-Value="user.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private UserDto user = new UserDto();

    private async Task HandleLogin()
    {
        bool loginResult = await AuthService.LoginAsync(user);
        if (loginResult)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Failed login, display an error message or perform other actions
        }
    }
}
}